.categories-container {
  font-size: 5rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: peachpuff;
}

.categories-container a {
  text-decoration: none;
}
