.proudct-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1.2rem;
  width: auto;
  text-align: center;
  height: 90vh;
  background-color: rgb(247, 245, 243);
  justify-content: center;
  align-items: center;
  padding: 0 auto;
}
