.card {
  width: 25vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  border: 0.2rem solid rgba(255, 166, 0, 0.671);
  border-radius: 1rem;
  text-align: center;
  margin: 4rem;
  box-shadow: 0.2rem 0.2rem 1rem gray;
}

.card-content {
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
}

.card-image {
  width: 25vw;
  height: 55vh;
  border-radius: 0.4rem;
  object-fit: cover;
}

.btn-style {
  font-size: 1.2rem;
  margin: 0.8rem;
  background: rgba(245, 222, 179, 0.829);
  border: none;
  box-shadow: 0.2rem 0.2rem 1rem rgb(78, 77, 77);
  color: rgb(255, 102, 0);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.title {
  background-color: rgba(255, 239, 213, 0.904);
  border-radius: 0.4rem;
  padding: 1rem;
  margin: 0.5rem;
  box-shadow: 0.2rem 0.2rem 1rem rgb(95, 94, 94);
}

.price {
  padding: 1rem;
}
