.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 30vw;
  border: 0.4rem solid rgb(224, 173, 77);
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.5rem gray;
  margin: 2rem;
  font-size: 1.5rem;
}

.the-image {
  width: 20vw;
  height: 50vh;
  object-fit: cover;
}

.content {
  text-align: center;
}
