.product-design {
  font-size: 1.2rem;
  margin: 2rem;
  padding: 2rem;
}

.div-test {
  width: 20vw;
  height: 30vh;
}

.category-container {
  font-size: 5rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: peachpuff;
}

.category-container a {
  text-decoration: none;
}
